/*common*/
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*common*/

/*map*/
.state {
  fill: none;
  stroke: #edd5cb;
  stroke-width: 1;
  cursor: pointer;
}

.state:hover {
  fill-opacity: .5;
}

#tooltip {
  position: absolute;
  text-align: center;
  margin: 10px;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid grey;
  font-size: 12px;
  width: auto;
  padding: 4px;
  color: #edd5cb;
  opacity: 0;
}

#tooltip h4 {
  margin: 0;
  font-size: 14px;
}

/*map*/
